.home-container{ 
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-container .home-container__logo{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .home-container__logo .logo{
    margin-top: 30%;
    max-width: 80%;
}
.home-container .ana{
    padding: 0 20px;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}

.home-container .home-container__logo .social{
    display: none;
}

@media (min-width: 769px){
    .home-container{
        flex-direction: row-reverse;
        justify-content: center;
        align-items: flex-end;
    }
    
    .home-container .home-container__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('../../img/bg-cimento.png') ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:right;
        height: 100vh;
    }

    .home-container .home-container__logo .logo{
        max-width: 70%;
        margin-top: 0;
        
    }

    .home-container .home-container__logo .social{
        width: 30%;
        display: flex;
        position: absolute;
        bottom: 30px;
    }

    .home-container .ana{
        max-width: 32vw;
    }

    
}